.follow-top
  - @users.each do |user|
    -# = user.name
    -# - @posts = Post.where(user_id: user.id).limit(30).order("created_at DESC")
    - if user.posts.present?
      .contents.row
        .name1
          = link_to post_path(user.posts.last.id) do
            = image_tag asset_path("#{user.posts.last.image.to_s}")
        .name2
          #{link_to user.name, user_path(user), method: :get}
        = simple_format render_with_hashtags(user.posts.last.text.slice(0...8) + " ..."), class: "name3"
        .name5
          %time(datetime="#{user.posts.last.created_at}")= time_ago_in_words(user.posts.last.created_at) + "前"

  .contents.row
    .name1
      = link_to post_path(current_user.posts.last.id) do
        = image_tag asset_path("#{current_user.posts.last.image.to_s}")
    .name2
      #{link_to current_user.name, user_path(current_user), method: :get}
    = simple_format render_with_hashtags(current_user.posts.last.text.slice(0...8) + " ..."), class: "name3"
    .name5
      %time(datetime="#{current_user.posts.last.created_at}")= time_ago_in_words(current_user.posts.last.created_at) + "前"