= render "header"

.content
  %ul.slider
    %li
      = image_tag asset_path('aa.jpg')
    %li
      = image_tag asset_path('aaa.jpg')

  - if user_signed_in?
    - if @user.followings.count == 0
      .content__top
        .content__top__nosign
          - @posts1.each_with_index do |post, i|
            = link_to post_path(post.id), data: { index: i += 1 } do
              = image_tag asset_path("#{post.image.to_s}")
        - if @posts[5].present?
          .content__top__nosign
            - @posts2.each_with_index do |post, i|
              = link_to post_path(post.id), data: { index: i += 6 } do
                = image_tag asset_path("#{post.image.to_s}")
        - if @posts[9].present?
          .content__top__nosign
            - @posts3.each_with_index do |post, i|
              = link_to post_path(post.id), data: { index: i += 10 } do
                = image_tag asset_path("#{post.image.to_s}")
    - else
      .content-bottom
        .content-bottom__name
          FOLLWER
      .content__topics
        .content__topics__list
          .content-bottom
            = render "following_posts"
            /= link_to 'フォロー中のツイート一覧へ', following_posts_path, {class: 'btn btn-primary withripple' }
  - else
    .content__top
      .content__top__nosign
        - @posts1.each_with_index do |post, i|
          = link_to post_path(post.id), data: { index: i += 1 } do
            = image_tag asset_path("#{post.image.to_s}")
      - if @posts[5].present?
        .content__top__nosign
          - @posts2.each_with_index do |post, i|
            = link_to post_path(post.id), data: { index: i += 6 } do
              = image_tag asset_path("#{post.image.to_s}")
      - if @posts[9].present?
        .content__top__nosign
          - @posts3.each_with_index do |post, i|
            = link_to post_path(post.id), data: { index: i += 10 } do
              = image_tag asset_path("#{post.image.to_s}")
        
  -# = paginate @posts
  -if @post.image.to_s == 0
  -else
    .content-bottom
      .content-bottom__name
        LANKING
      .content-bottom__list
        - @all_ranks.each_with_index do |post, i|
          = link_to post_path(post.id), data: { index: i += 1 } do
            = image_tag asset_path("#{post.image.to_s}")


.footer
  © CAMP