= render "header"


.content
  %ul.slider
    %li
      = image_tag asset_path('a.jpg')
    %li
      = image_tag asset_path('top.jpg')
    %li
      = image_tag asset_path('new.jpg')
    %li
      = image_tag asset_path('h.jpg')

  - if user_signed_in?
    - if @user.followings.count == 0
      .content__topics
        .content__topics__list
          - @posts[0..9].each_with_index do |post, i|
            = link_to post_path(post.id), data: { index: i += 1 } do
              = image_tag asset_path("#{post.image.to_s}")
    - else
      .content__topics
        .content__topics__list
          .content-bottom
            .content-bottom__name
              FOLLWER
            = render "following_posts"
            /= link_to 'フォロー中のツイート一覧へ', following_posts_path, {class: 'btn btn-primary withripple' }
  - else
    .content__top
      .content__top__nosign
        - @posts[0..9].each_with_index do |post, i|
          = link_to post_path(post.id), data: { index: i += 1 } do
            = image_tag asset_path("#{post.image.to_s}")
        
  -# = paginate @posts
  -if @post.image.to_s == 0
  -else
    .content-bottom
      .content-bottom__name
        LANKING
      .content-bottom__list
        - @all_ranks.each_with_index do |post, i|
          = link_to post_path(post.id), data: { index: i += 1 } do
            = image_tag asset_path("#{post.image.to_s}")


.footer
  © CAMP