.wrapper
  = render "header"
  .content
    .content__main
      = form_with(model: @post, local: true) do |form|
        .image-list
          = image_tag asset_path(@post.image.to_s), width: "200", height: "200", class: "image-box"
          = form.file_field :image, id: "new-image", required: ""
          %label{for: "new-image", class: "edit-post"}
            %pre.fas.fa-camera
              %p.new-post__font
        .image-text
          = form.label :address, class: "new-label"
          = form.text_field :address, placeholder: " ex ) キャンプ場", class: "content__main__text"
          = form.label :text, class: "new-label"
          = form.text_area :text, rows: "10", class: "content__main__text", required: ""
          %br
          = form.submit "SEND", style: 'padding: 10px',class: "content__main__btn"