.wrapper
  = render "header"
  - provide(:text, @tag.hashname)
  .content
    .content__topss
      .content__hash 
        %h1
        ='#'
        =@tag.hashname
        .name
          .name_hash
            - @post.each do |post|
              = link_to post_path(post.id) do
                = image_tag(post.image.to_s) 
          .edit_hash
            #follow_form
              - if current_user.followed_by?(@user)
                = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }, remote: true) do |f|
                  = f.submit "フォロー解除", class: "btn"
              - else
                = form_for(user_relationships_path(@user.id), remote: true) do |f|
                  %div
                    = hidden_field_tag :followed_id, @user.id
  .row
    = link_to "前のページへ戻る", :back, class: "search-footer__btn"
    .posted_content
      .col-md-8
        .picture_hash