.wrapper
  = render "header"
  .content
    .content__main
      
      = form_with(model: @post, local: true) do |form|
        .image-list
          - if @post.persisted?
            = image_tag asset_path(@post.image.to_s), width: "200", height: "200", class: "image-box", required: ""
          = form.file_field :image, id: "new-image", required: ""
          %label{for: "new-image", class: "new-post", required: ""}
            %pre.fas.fa-camera
              %p.new-post__font new post !
        .image-text
          = form.label :address, class: "new-label"
          = form.text_field :address, placeholder: " ex ) キャンプ場", class: "content__main__text", id: "post_text"
          = form.label :text, class: "new-label"
          = form.text_area :text, rows: "10", class: "content__main__text", required: ""
          %br
          = form.submit "SEND", style: 'padding: 10px',class: "content__main__btn"
        
  = link_to "前のページへ戻る", :back, class: "search-footer__btn"
              