.wrapper
  = render "header"
  .content
    .content__topss
      .content__topss__text
        = image_tag asset_path(@post.user.avatar), class: "cooment-avatar", id: "post-avatar"
        = link_to @post.user.name, user_path(@post.user.id), class: "content__topss__name"
        
        = render "favorites/favorite"
        - if user_signed_in?
          - if @post.bookmarked_by?(current_user) 
            / ログインしているユーザーがお気に入りしたかどうかで分岐
            %p.bookmark-list
              //お気に入り解除
              = link_to post_bookmarks_path(@post.id), method: :delete, id: 'bookmark-link' do
                = raw bookmark_icon(@post, current_user)
          - else
            %p.bookmark-list
              //お気に入り登録
              = link_to post_bookmarks_path(@post), method: :post, id: 'bookmark-link-to' do
                = raw bookmark_icon(@post, current_user)

      //ログイン中のユーザーであれば編集・削除ページ遷移可能
      - if user_signed_in? && current_user.id == @post.user.id
        .menu-box--left
          %ul
            %li.menu-box--left__category
              = icon('fas', 'ellipsis-h')
              %ul.menu-box--left__parents
                %li.menu-box--left__parents__parent
                  = link_to '編集', edit_post_path
                %li.menu-box--left__children
                  = link_to '削除', post_path, method: :delete
    .content__topicss
      .content__topicss__lists
        %a{"data-lightbox" => "group", :href => asset_path(@post.image.to_s), class: "prev-image"}
          %img{:src => asset_path(@post.image.to_s), :width => "300"}
        %h1= simple_format render_with_hashtags(@post.text)
        
        .list
          - if @post.address.present?
            = link_to @post.address, map_post_path(@post.id)
          %br
          %h2= @post.created_at.strftime("%Y/%m/%d %H:%M") 
        
        //コメント機能
        .show-comment
          %h2 <  コメント一覧  >
          .comment
            .comment__list
              - if @comments
                - @comments.each do |comment|
                  .com{data: {comment: {id: comment.id}}}
                    .comment__list__form
                      = image_tag asset_path(comment.user.avatar), class: "cooment-avatar"
                      = link_to comment.user.name, "/users/#{comment.user_id}"
                      %h4= comment.created_at.to_s(:datetime)
                    .comment__list__text
                      %h3= comment.text

          .show-footer
            - if current_user
              %h3 comment
              = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
                = form.text_area :text, rows: "2", class: "comment__main"
                = form.submit "SEND", style: 'padding: 10px',class: "comment__bt", id: "comment-send"
                %label{for: "comment-send"}
                  .comment__btn= icon('fas', 'paper-plane')
                  
            - else
              .show-footer__list
                %p  コメントの投稿には
                = link_to "新規登録 / ログイン", new_user_registration_path
                %p  が必要です


    .show__topss
      %h2
        投稿一覧
      .show__content__topic
        - @posts.each do |post|
          = link_to post_path(post.id), class: "show__content__topic__image" do
            = image_tag asset_path(post.image.to_s)
    

    

    
      
